{% extends 'baseAdmin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <section class="">

        <div class="header-admin">
            <p class="title-admin"><i ></i>Add category</p>
        </div>

        <div class="content-form">
            {{ form_start(form) }}
            <div class="container-fluid mt-100 mb-30 form-style ">
                <div class="row">

                    <!-- Add title -->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(form.categoryName|raw, {'attr': {'class': 'form-label-title pl-10', 'placeholder': 'Add category'}} ) }}
                        {{ form_errors(form.categoryName|raw) }}
                    </div>
                    <!-- End Add cover pictures -->

                    <!-- End Publish-->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(form) }}
                        <input id="test" class="btn btn-primary" type="submit" value="Add category"/>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </section>
{% endblock %}