{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <section class="">

        <div class="header-admin">
            <p class="title-admin"><i ></i> Ajouter une photo</p>
        </div>

        <div class="content-form">
            {{ form_start(edit_form) }}
            <div class="container-fluid mt-100 mb-30 form-style ">
                <div class="row">

                    <!-- Add cover pictures -->
                    <div class="col-md-12">
                        {{ form_widget(edit_form.picture, {'attr': {'class': 'btn-label'}} ) }}
                    </div>
                    <!-- End Add cover pictures -->

                    <!-- Add title -->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(edit_form.title|raw, {'attr': {'class': 'form-label-title pl-10', 'placeholder': 'Ajouter un titre'}} ) }}
                        {{ form_errors(edit_form.title|raw) }}
                    </div>
                    <!-- End Add cover pictures -->

                    <!-- Add category -->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(edit_form.categoryName|raw, {'attr': {'class': 'form-label-title pl-10'}} ) }}
                        {{ form_errors(edit_form.categoryName|raw) }}
                    </div>
                    <!-- End category -->

                    <!-- Add date -->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(edit_form.creationDate|raw, {'attr': {'class': 'orm-label-title pl-10', 'placeholder': 'Ajouter une date'}} ) }}
                        {{ form_errors(edit_form.creationDate|raw) }}
                    </div>
                    <!-- End Add date -->

                    <!-- Publish-->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(edit_form.isPublish|raw) }}
                        {{ form_label(edit_form.isPublish|raw) }}
                        {{ form_errors(edit_form.isPublish|raw) }}
                    </div>
                    <!-- End Publish-->
                    <div class="col-md-12 pt-30">
                        {{ form_widget(edit_form) }}
                        <input id="test" class="btn btn-primary" type="submit" value="Publier la photo"/>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}

    </section>
{% endblock %}