{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}

    <section>
            <!-- The slideshow -->
            <div class="carousel-inner" id="slideshow">
                <div class="carousel-item active image">
                    <div class="text-box" >
                        <h2 class="wow slideInRight"  data-wow-duration="2s"><a style="color: white; z-index:-1; text-underline: none"  href="">PHOTO</a></h2>
                        <hr>
                    </div>
                </div>
                <div class="carousel-item image2">
                    <div class="text-box">
                        <h2 class="wow slideInUp" data-wow-duration="4s" ><a style="color: white; text-underline: none " href="">ART</a></h2>
                        <hr>
                    </div>
                </div>
            </div>
    </section>

    <section id="photo-section" class="image-section">
        <!-- Click photo to check out the modal -->

            <div class="sidenav">
                <h2 class="EL-title">Ⓞⓟ</h2>
                <a href="{{path('homepage') }}">BOOK 1 | ALL </a>
                <a href="{{path('category_type', {type: 'landscape'}) }}">LANDSCAPE</a>
                <a href="{{path('category_type', {type: 'inside'}) }}">INSIDE</a>
                <a href="{{path('category_type', {type: 'street'}) }}">STREET</a>
                <a href="{{path('category_type', {type: 'portrait'}) }}">PORTRAIT</a>
                <a href="{{path('category_type', {type: 'video'}) }}">VIDEO</a>
                <p class="pl-30">------------------------</p>
                <a class="pt-10" href="/contact">CONTACT</a>
                <a><span class="fa fa-instagram"></span></a>
            </div>


            <h1 style="text-align: center;"class="pt-20 main dot-h1">- - - - - - - - - -</h1>
        <div class="parent-grid">
            <div class="grid main">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% if articles is not null %}
                    {% for article in articles %}
                    <div class="grid-item">
                        {% if article.picture|length > 0 %}<img class="img-show" alt="gallery picture" src="{{ asset('uploads/images/' ~ article.picture|raw) }}">{% endif %}
                    </div>
                    {% endfor %}
                {% else %}
                 <div><p>This category has no content</p> </div>
                {% endif %}
            </div>
        </div>

        <!-- The Modal -->

        <div id="myModal" class="modal">
            <span id='arrowRight' class="arrowRight fa fa-arrow-circle-o-right"></span>
            <span class="arrowLeft fa fa-arrow-circle-o-left"></span>
            <span class="close">&times;</span>
            <div class="modal-content">
            <img class="img01" id="img01">
            <div class="child-left"></div>
            <div class="child-right"></div>
            <div class="child-top"></div>
            </div>
            <div id="caption"></div>
        </div>
    </section>
{% endblock %}


