{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <section class="">
        <div class="container-header-contact"></div>
        <div class="img_caption">
                <h2 class="text-box-2 title-header text-center">CONTACT<hr></h2>
            <div class="bloc_1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="contact-title">Leave me a message...</p>
                        </div>
                        <div class="col-md-6 pt-20 text-right">
                            {{ form_start(form) }}
                            <div class = "pb-20 form-left-side form-contact-style">
                                {{ form_widget(form.name) }}
                                <div class="errors">
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="pb-20 form-left-side form-contact-style">
                                {{ form_widget(form.email) }}
                                <div class="errors">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class = "pb-20 form-right-side form-contact-style">
                                {{ form_widget(form.subject) }}
                                <div class="errors">
                                    {{ form_errors(form.subject) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-20 text-left">
                            <div class = "form-right-side form-contact-style">
                                {{ form_widget(form.message) }}
                                <div class="errors">
                                    {{ form_errors(form.message) }}
                                </div>
                            </div>
                            {# Render CSRF token etc .#}
                            <div style="display:none">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Send">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}