{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <section class="pb-30">
        <div class="container-header">
            <img class="img-header" src="{{ asset('images/contact.jpg') }}" alt="image entète page contact">
            <div class="img_caption">
                <h2 class="text-box title-header text-center">CONTACT<hr></h2>
            </div>
            <div class="bloc_1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="contact-title">Let me a message...</h3>
                        </div>
                        <div class="col-md-6 pt-20">
                            {{ form_start(form) }}
                            <div class = "pb-20 form-left-side form-contact-style">
                                {{ form_widget(form.name) }}
                                <div class="errors">
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="pb-20 form-left-side form-contact-style">
                                {{ form_widget(form.email) }}
                                <div class="errors">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class = "pb-20 form-right-side form-contact-style">
                                {{ form_widget(form.subject) }}
                                <div class="errors">
                                    {{ form_errors(form.subject) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-20">
                            <div class = "form-right-side form-contact-style">
                                {{ form_widget(form.message) }}
                                <div class="errors">
                                    {{ form_errors(form.message) }}
                                </div>
                            </div>
                            {# Render CSRF token etc .#}
                            <div style="display:none">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input class="btn btn-primary btn-lg" type="submit" value="Send">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}