<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100i|Abril+Fatface" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
        <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aboutme.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/album.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
    </head>
    <body>
    {% block header %}

        <header>
            <!-- Navigation -->
            <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><span style="color:#FF0092">OTHER</span>PLANET Ⓞⓟ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active pl-20">
                                <a class="nav-link" href="/">ACCUEIL
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <!--<li class="nav-item dropdown padding-bottom-hover pl-20">
                                <a class="nav-link" href="#">CATEGORY</a>
                                <div class="dropdown-content">
                                    <a href="#photo-section">PHOTO</a>
                                    <a href="">ALBUM</a>
                                    <!--<a href="#">MUSIC</a>-->
                                     <!--<a href="#">ART</a>
                                </div>-->
                            </li>
                            <li class="nav-item pl-20">
                                <a class="nav-link" href="{{ path('homepage') }}#photo-section">PHOTO</a>
                            </li>
                            <li class="nav-item pl-20">
                                <a class="nav-link" href="{{ path('album') }}">ALBUM</a>
                            </li>
                            <!--<li class="nav-item pl-20">
                                <a class="nav-link" href="#">BLOG</a>
                            </li>-->
                            <li class="nav-item pl-20">
                                <a class="nav-link" href="/contact">CONTACT</a>
                            </li>
                            <li class="nav-item pl-20">
                                <a class="nav-link" href="{{ path('aboutme_index') }}">ABOUT ME</a>
                            </li>
                            <li class="nav-item pl-20">
                                <a class="nav-link" href="https://www.instagram.com/alexx_urb/?hl=fr" target="_blank"><span class="fab fa-instagram"></span></a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- END OF HEADER -->

    {% endblock %}
        {% block body %}{% endblock %}

    {%set currentPath =  app.request.get('_route') %}
    {% if currentPath != 'homepage' and currentPath != 'category_type' and currentPath != 'album' and currentPath != 'album_title'%}
        {% block footer %}
            <footer id="mainFooter" class="mainFooter">
                <div class="container-fluid">
                    <div class="row copyrights">
                        <div class="col-md-2 col-xs-12">
                            <p><a class="footer-a" href="">General Conditions </a></p>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <p><a class="footer-a" href="">Admin</a></p>
                        </div>
                    </div>
                </div>
        </footer>
            {% endblock %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ asset('js/masonrycdn.js') }}"></script>
    <script src="{{ asset('js/awesomecursor.js') }}"></script>
    <script src="https://kit.fontawesome.com/9d9bf02201.js"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/masonry.js') }}"></script>
    <script src="{{ asset('js/nav.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script></script>

    {% block javascripts %}{% endblock %}
    </body>

</html>
